#container
{
	width: 1000px;
	margin: 0 auto;
}

#admin-display-container
{
	width: 1000px;
	height: 900px;
	margin-left: 100px;
	float: left;
	overflow: scroll;
}

#admin-options
{
	float: right;
	width: 300px;
	height: 300px;
	border: 1px solid black;
	margin-right: 100px;
}

#image img
{
	height: 500px;
	width: 500px;
}

#image, #title
{
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

#title
{
	margin-top: 50px;
}

#form-container
{
	width: 500px;
	margin: 0 auto;
	margin-top: 200px;
	border: 1px solid black;
}

#form-container input[type=text], input[type=password]
{
	padding: 5px;
	width: 250px;
	margin: 5px;
	font-size: 20px;
	margin-left: 125px;
}

h2
{
	text-align: center;
}

#button
{
	width: 100px;
	height: 40px;
	margin-left: 200px !important;
	margin-top: 10px;
}

#edit-container, #serverList
{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	margin-top: 200px;
}

textarea
{
	resize: both !important;
	max-width: 300px;
	max-height: 120px;
	padding: 5px;
}

#edit-container label
{
	width: 150px;
	margin: 5px;
	display: inline-block;
}

/*
	Navigation Styling
*/

#nav
{
	float: left;
	height: auto;
	width: 200px;
	margin-top: 200px;
	margin-left: 50px;
	border: 1px solid black;
	overflow: hidden;
}

#nav ul
{
	width: 100%;
	list-style: none;
	padding: 0 !important;
}

#nav ul li
{
	height: 50px;
	width: 100%;
	border-top: 1px solid black;
	padding: 3px;
	display: block;
	line-height: 53px;
	text-indent: 40px;
	font-size: 20px;
}

#nav a
{
	text-decoration: none;
	height: 100%;
	width: 100%;
	display: block;
}

#nav ul li:last-child
{
	border-bottom: 1px solid black;
}

#nav li:hover
{
	font-weight: bolder;
}

.button
{
	height: 30px;
	width: 50%;
	margin-left: 50px;
}

iframe
{
	 width: 1000px; 
	 height: 900px;
}