#admin-display-container table
{
	border: 1px solid black;
	border-collapse: collapse;
	width: 90%;
	max-width: 90% !important;
	margin: 0 auto;
}

#admin-display-container th, #admin-display-container td
{
	padding: 5px;
	border: 1px solid black;
}

#admin-display-container td:first-child
{
	font-weight: bold;
}

#server-table
{
	width: 800px;
	max-height: 540px;
	margin: 0 auto;
	margin-top: 20px;
	border-spacing: 10px;
}

#server-headers
{
	font-family: Mont-Bold;
	font-size: 20px;
}

#server-table tr
{
	border-bottom: 1px solid black;
}

#server-table td
{
	width: 20%;
	text-align: center;
	height: 30px !important;
	font-family: Mont-Reg;
}

#server-table th
{
	height: 40px !important;
}