table
{
	border: 1px solid black;
	border-collapse: collapse;
	width: 90%;
	max-width: 90% !important;
	margin: 0 auto;
}

th, td
{
	padding: 5px;
	border: 1px solid black;
}

td:first-child
{
	font-weight: bold;
}

#server-table
{
	width: 800px;
	height: 550px;
	margin: 0 auto;
	margin-top: 40px;
}

#server-headers
{
	font-family: Mont-Bold;
	font-size: 20px;
}

#server-table td, #server-table th
{
	width: 20%;
	height: 30px !important;
}
